# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcuserdatad

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# CocoaPods (if ever used in dev)
Pods/

# Carthage (if ever used in dev)
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

